input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #0084ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: capitalize;
  }
  
  input[type="submit"]:hover {
    opacity: 0.8;
  }

  #wrap{
    position: absolute;
    display: flex;
    width: 50%;
    height: 45%;
    justify-content: center;
    align-items: center;
    margin: auto auto auto auto;
    top: 20%;
    left: 25%;
    flex-direction: column;
  }
  